<!-- Insert Product -->
<%- include('../layouts/Admin/header.ejs') %><!-- Admin Header -->
    <%- include('../partial/admin_header.ejs') %><!-- admin navbar -->
        <%- include('../partial/admin_side.ejs') %><!-- Admin Side Bar -->
            <div class="clearfix"></div>

            <div class="content-wrapper">
                <div class="container-fluid">



                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Insert the product details</div>
                                <hr>
                                <form action="/admin/add_about" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="input-6">Title 1</label>
                                        <input type="text" name="title1" class="form-control form-control-rounded"
                                            id="input-6" placeholder="Enter Product Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-6">Title 2</label>
                                        <input type="text" name="title2" class="form-control form-control-rounded"
                                            id="input-6" placeholder="Enter Product Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"> Description Para 1 </label>
                                        <textarea name="para1" class="form-control form-control-rounded"
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"> Description Para 2</label>
                                        <textarea name="para2" class="form-control form-control-rounded "
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Rich Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Second Description Para 3</label>
                                        <textarea name="para3" class="form-control form-control-rounded"
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"> Second Description Para 4</label>
                                        <textarea name="para4" class="form-control form-control-rounded "
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Rich Description"></textarea>
                                    </div>

                                    <div class="form-group">

                                        <label for="formFile" class="form-label">Upload Images</label>
                                        <input type="file" name="AboutImages" class="form-control form-control-rounded "
                                            id="formFile" multiple>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"> Thought </label>
                                        <textarea name="Thought" class="form-control form-control-rounded"
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Description"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-light btn-round px-5"><i
                                                class="icon-lock"></i> Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->

                <!-- start overlay-->
                <!-- <div class="overlay toggle-menu"></div> -->
                <!--end overlay -->

            </div>
            <!-- End container-fluid-->

            </div><!--End content-wrapper-->
            <!--Start Back To Top Button-->
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
            <!--End Back To Top Button-->

            <%- include('../layouts/Admin/Color_switcher.ejs') %> <!-- color switcher Backgroung -->



                <%- include('../layouts/Admin/footer.ejs') %> <!-- Footer Section of Admin Including -->
                    <style>
                        input[type="file"]::file-selector-button {
                            border-radius: 9px;
                            padding: 0 16px;
                            height: 25px;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid rgba(0, 0, 0, 0.16);
                            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
                            margin-right: 16px;
                            transition: background-color 200ms;
                        }

                        /* file upload button hover state */
                        input[type="file"]::file-selector-button:hover {
                            background-color: #f3f4f6;
                        }

                        /* file upload button active state */
                        input[type="file"]::file-selector-button:active {
                            background-color: #e5e7eb;
                        }
                    </style>