<!-- Insert Product -->
<%- include('../layouts/Admin/header.ejs') %><!-- Admin Header -->
    <%- include('../partial/admin_header.ejs') %><!-- admin navbar -->
        <%- include('../partial/admin_side.ejs') %><!-- Admin Side Bar -->
            <div class="clearfix"></div>

            <div class="content-wrapper">
                <div class="container-fluid">



                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Insert the product details</div>
                                <hr>
                                <form action="/admin/add_Product" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="input-6">Product Name</label>
                                        <input type="text" name="product_name" class="form-control form-control-rounded"
                                            id="input-6" placeholder="Enter Product Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Product Description</label>
                                        <textarea name="description" class="form-control form-control-rounded"
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Product Rich Description</label>
                                        <textarea name="richdescription" class="form-control form-control-rounded "
                                            id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Enter Product Rich Description"></textarea>
                                    </div>

                                    <div class="form-group">

                                        <label for="formFile" class="form-label">Upload Thrid image</label>
                                        <input type="file" name="gallery" class="form-control form-control-rounded " 
                                            id="formFile" multiple>
                                    </div>

                                    <div class="form-group">
                                        <label for="input-10">Price</label>
                                        <input type="text" name="price" class="form-control form-control-rounded"
                                            id="input-10" placeholder="Enter Price">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Brand</label>
                                        <input type="text" name="brand" class="form-control form-control-rounded"
                                            id="input-10" placeholder="Enter Brand">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Category</label>
                                        <select id="select-1" name="category" class="form-control form-control-rounded"
                                            aria-label="Default select example">
                                            <option selected>Select the Category</option>
                                            <% Category.forEach(function(item) { %>
                                                <option value="<%=item._id%>">
                                                    <%=item.name%>
                                                        </item>
                                                </option>

                                                <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Product Category</label>
                                        <select id="select-1" name="pro_cat" class="form-control form-control-rounded"
                                            aria-label="Default select example">
                                            <option selected>Select the Category</option>
                                            <%Sub_Category.forEach(function(item) { %>
                                                <option value="<%=item._id%>">
                                                    <%=item.Sub_Category%>
                                                        </item>
                                                </option>

                                                <% }) %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="input-10">CountInStock</label>
                                        <input type="text" name="CountInStock"
                                            class="form-control form-control-rounded " id="input-10"
                                            placeholder="Confirm InCountStock">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Rating</label>
                                        <input type="text" name="Rating" class="form-control form-control-rounded"
                                            id="input-10" placeholder="Confirm Rating">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Number Of Review</label>
                                        <input type="text" name="Review" class="form-control form-control-rounded"
                                            id="input-10" placeholder="Confirm  The Review">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-10">Feature</label>
                                        <select id="select-1" name="feature" class="form-control form-control-rounded"
                                            aria-label="Default select example">
                                            <option selected>Select the Product Featured Or Not</option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>



                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-light btn-round px-5"><i
                                                class="icon-lock"></i> Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->

                <!-- start overlay-->
                <!-- <div class="overlay toggle-menu"></div> -->
                <!--end overlay -->

            </div>
            <!-- End container-fluid-->

            </div><!--End content-wrapper-->
            <!--Start Back To Top Button-->
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
            <!--End Back To Top Button-->

            <%- include('../layouts/Admin/Color_switcher.ejs') %> <!-- color switcher Backgroung -->



                <%- include('../layouts/Admin/footer.ejs') %> <!-- Footer Section of Admin Including -->
                    <style>
                        input[type="file"]::file-selector-button {
                            border-radius: 9px;
                            padding: 0 16px;
                            height: 25px;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid rgba(0, 0, 0, 0.16);
                            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
                            margin-right: 16px;
                            transition: background-color 200ms;
                        }

                        /* file upload button hover state */
                        input[type="file"]::file-selector-button:hover {
                            background-color: #f3f4f6;
                        }

                        /* file upload button active state */
                        input[type="file"]::file-selector-button:active {
                            background-color: #e5e7eb;
                        }
                    </style>