<!-- Insert Categories -->
<%- include('../layouts/Admin/header.ejs') %><!-- Admin Header -->
<%- include('../partial/admin_header.ejs') %><!-- admin navbar -->
<%- include('../partial/admin_side.ejs') %><!-- Admin Side Bar -->
                <div class="clearfix"></div>

                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row mt-3">
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">Insert Category</div>
                                        <hr>
                                        <form action="/admin/add_Sub_Category" method="POST">
                                            <div class="form-group">
                                                <label for="subHeader">Category Name</label>
                                                <select id="select-1" name="Main_Category" class="form-control form-control-rounded" aria-label="Default select example">
                                                    <option selected>Select the Category</option>
                                                    <% Category.forEach(function(item) { %>
                                                    <option value="<%=item._id%>" ><%=item.name%></item></option>
                                                    
                                                    <% }) %>
                                                  </select>
                                      
                                            </div>
                                            <div class="form-group">
                                                <label for="mainHeader">Product Category</label>
                                                <input type="text" name="Sub_Category"
                                                    class="form-control form-control-rounded" id="mainHeader"
                                                    placeholder="Enter color code">
                                            </div>



                                            <div class="form-group">
                                                <button type="submit" class="btn btn-light btn-round px-5"><i
                                                        class="icon-lock"></i>
                                                    Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!--End of row -->
                        <!--start overlay-->
                        <div class="overlay toggle-menu"></div>
                        <!--end overlay-->
                    </div>
                    <!-- End container-fluid-->
                </div><!--End content-wrapper-->
                <!--Start Back To Top Button-->
                <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
                <!--End Back To Top Button-->

                <%- include('../layouts/Admin/Color_switcher.ejs') %> <!-- color switcher Backgroung -->

           

            <%- include('../layouts/Admin/footer.ejs') %> <!-- Footer Section of Admin Including -->