<!--  Load Banner section -->
<%- include('../layouts/Admin/header.ejs') %>
<%- include('../partial/admin_header.ejs') %>
<%- include('../partial/admin_side.ejs') %>
<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">
<div class="clearfix"></div>
	
  <div class="content-wrapper">
 <div class="container-fluid">
<div class="content-wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Banner</h5>
          <div class="table-responsive">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">All Details</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Sub_header</th>
                    <th scope="col">Main_header</th>
                    <th scope="col">Image</th>
                    <th scope="col">Option</th>

                  </tr>
              </thead>
              <tbody>
                <% Data.forEach(function(item) { %>
                <tr>
                  <th scope="row">1</th>
                  <td><%=item.Sub_header%></td>
                  <td><%=item.Main_header%></td>
                  <td><img style="width: 100px; height:100px ;" src="/images/Banner/<%=item.Image_url%>" alt="Slider_Image"></td>
                  <td><a href="/admin/edit_Banner/<%=item._id%>" class="btn  btn-warning">edit</a></td>
                  <td><a href="/admin/delete_Banner/<%=item._id%>" class="btn  btn-danger" onclick="return confirm('  you want Delete this Slider Image and titles ?')">Delete</a></td>
                </tr>
                
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!--End Row-->
  </div>
  </div>
</div>
</div>
</div>
<%- include('../layouts/Admin/footer.ejs') %> <!-- Footer Section of Admin Including -->